.test {
    margin: 20pt;
}
.boardCard {
    text-align:left;
    text-overflow: ellipsis;
    overflow:hidden;
    height:auto;
    width:auto;
    white-space: nowrap;
}

.bigBoardCard {
    text-align:left;
    text-overflow: ellipsis;
    overflow:hidden;
    height:100px;
    width:auto;
    white-space: nowrap;
}

.coloumn {
   padding:1%; 
}
.board {
    margin: 2%;
}

.boardContainer {
    align-items:center;
    background: #343A40;
    width: 80%;
    margin: 2%;
    margin-left:10%;
    border:5px solid;
    border-image: repeating-linear-gradient(to bottom, #3DBFD9, #EC5FA4 , #F0592C, #FAAC40) 1 20%;
}


.bigBoardContainer {
    align-items:center;
    background: #343A40;
    width: 90%;
    height: 80%;
    margin: 2%;
    margin-left:5%;
    border:5px solid;
    border-image: repeating-linear-gradient(to bottom, #3DBFD9, #EC5FA4 , #F0592C, #FAAC40) 1 20%;
}

.cardContainer {
    align-items:center;
    background: #343A40;
    width: 80%;
    height:20%;
    margin-left: 10%;
    margin-top: 1%;
    border:5px solid;
    border-image: repeating-linear-gradient(to bottom, #3DBFD9, #EC5FA4 , #F0592C, #FAAC40) 1 20%;
}

.butt {
    align-items: center;
    border: 3px solid red;
    width: 20%;
    margin-left: 40%;
    height: 20%;
    border-image: repeating-linear-gradient(to bottom, #3DBFD9, #EC5FA4 , #F0592C, #FAAC40) 1 20%;
}
.msg {
    align-items: center;
    width: 40%;
    margin-left: 35%;
    height: 20%;
}

.cardAlternatives {
    max-height: 12vw;
    max-width:100%;
    overflow-y:auto;
    text-align:center;
    display:flex;
}

.addCardForm {
    text-align:center;
    width: 30%;
    margin-left: 35%;
    color: #343A40;
}

.submitButton {
    border: 2px solid;
    border-image: repeating-linear-gradient(to bottom, #3DBFD9, #EC5FA4 , #F0592C, #FAAC40) 1 20%;
    outline:none;
    margin:4px;
}
.submitField {
    margin:2%;
    outline:none;
    border: 2px solid;
    border-image: repeating-linear-gradient(to bottom, #3DBFD9, #EC5FA4 , #F0592C, #FAAC40) 1 20%;
}
.fileOptions {
    margin-left:35%;
}
.fileSelect {
    margin-right:-1%;
}
